/nbproject
/server.log
/media/
/storage
/sprites
/media.tar
/config-*
/protected/config/goodini*
/protected/config/kpd*
/protected/config/home*
/protected/config/local*
/protected/config/site*
/protected/config/*
\.env
